*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.card{
    background-color: #fff;
    width: 350px;
    margin: 10px auto;
}
.card-top{
    background-color: purple;   
}
.Result{
    color: plum;
    text-align: center;
    padding: 15px 0px;
}
.percent{
    background-color: rgb(201, 4, 201);
    width: 150px;
    height : 150px;
    border-radius: 100%;
    text-align: center;
    margin: 10px auto;
    padding: 45px 0;
    color: #fff;
}
.score{
    font-size: 40px;
}
.great{
    color: #fff;
    text-align: center;
    font-size: 22px;
}
.text{
    text-align: center;
    color: plum;
    padding: 12px 15px;
}